$size---padding: 1rem !default;
$size---padding-fractions: 4 !default;
$size---main-header: calc(54 / 4) !default;
$size---sidebar: 16rem !default;

$size---mq-compact: 1200px !default;
$size---mq-tablet: 950px !default;
$size---mq-mobile: 720px !default;

$size---layout-content-max-width: 1200px !default;
