@import "src/styles/index";

.input {
  @include flex-col;
  @include gap(1);
  width: 100%;

  &__label {
    @include text(text-xs, semi);
    color: c(text-2);
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  &__field {
    @include flex(center);
    @include gap(1.5);
    @include padding(0, 2);
    @include br(s);
    @include transition(fast, border);

    background: c(base-2);
    border: 1px solid c(stroke-1);
    height: size(36 / 4);

    &:focus-within {
      border-color: c(highlight);
    }
  }

  &--size-s &__field {
    height: size(28 / 4);
    @include text(text-s);
  }

  &--monospace &__el {
    @include font(mono);
  }

  &--error &__field {
    border-color: c(negative);
  }

  &__icon {
    @include flex-center;
    color: c(text-3);
  }

  &__el {
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    color: c(text);
    @include text(text-m);

    &::placeholder {
      color: c(text-3);
    }
  }

  &__hint {
    @include text(text-xs);
    color: c(text-3);
  }
  &--error &__hint {
    color: c(text-negative);
  }
}
