@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hbackground($name) {
  background: c($name);
  @include transition(fast, background);

  @include hover {
    background: c(#{$name}-h);
  }
}

@mixin hcolor($name) {
  color: c($name);
  @include transition(fast, color);

  @include hover {
    color: c(#{$name}-h);
  }
}
